.form-wrapper {
  .filter-form {
    mat-label {
      margin-bottom: 5px;
      display: block;
    }
    mat-form-field {
      width: 100%;
      .mat-mdc-text-field-wrapper {
        border-radius: 4px !important;
      }
      .mat-mdc-form-field-infix {
        min-height: 32px;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
      }
    }
    .submit-filter {
      width: 100%;
      background-color: #a3bcf9 !important;
      margin-top: 20px;
    }
    .clear-filter {
      width: 100%;
      margin-top: 20px;
      background-color: transparent;
      border: 1px solid #ed362b;
      color: #fff;
    }
  }
}
