:host {
  height: 100%;
  display: block;
}
mat-sidenav-container,
mat-sidenav-content {
  min-height: 100%;
  background-color: #e3e3e3;
}

mat-sidenav {
  width: 300px;
  margin: 0;
  padding: 1.5em;
  background-color: #233044;
  color: #fff;
}

mat-sidenav-content {
  margin: 0;
  padding: 2em;
  .overview {
    position: relative;
    min-height: 100vh;
  }
  mat-chip {
    background-color: #fff;
  }
  mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
